/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: #003366;
    color: #ffffff;
    border: 1px solid #D6A800;
    padding: 10px;
}

a {
    color: #003366;
    text-decoration: none;
}

a:hover {
    color: #D6A800;
}

a:visited {
    color: #551A8B;
}
